body {
    margin: 0px;
}
section {
    max-width: 90%;
    width: 120ch;
    margin: auto;
}
nav {
    display: block;
    height: 38px;
    margin-bottom: 3em;
}
/* 
Como has puesto un position fixed
pones el elemento como en otra capa.
Es por esto que al nav le pongo el alto que te ocupa luego el listado
Así no te tapa el h1.

Hay miles de formas e incluso más eficientes, 
pero te muestro esta para que lo veas facil
*/
nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: #fffffffa;
    width: 100%;
    /* Le quito el margen y le pongo transparencia y sombra para que 
    lo diferencies del resto del contenido */
    margin: 0px;
    top: 0;
    padding: 20px;
    left: 0;
    box-shadow: 0px 4px 9px 2px #00000012;
}

.cerrar.elemento {
    position: fixed;
    top: 16px;
    right: 20px;
    background: cadetblue;
    padding: 5px;
    border-radius: 100%;
    cursor: cell;
}
/* Clases de las diferentes medidas de CSS */
.cm {
    background: beige;
    width: 12cm;
    height: 12cm;
}
.mm {
    background: aliceblue;
    width: 120mm;
    height: 120mm;
}
.in {
    background: blueviolet;
    width: 4.74in;
    height: 4.74in;
}
.px {
    background: burlywood;
    width: 455px;
    height: 455px;
}
.pt {
    background: darksalmon;
    width: 341pt;
    height: 341pt;
}
.pc {
    background: mediumslateblue;
    width: 28.44pc;
    height: 28.44pc;
}
/* Cambio a block para que puedas ver los tamaños reales */
/* Clases de las medidas de CSS absolutas */
.absolutas-sizes {
    display: block;
}
/* Clases de las medidas de CSS relativas */
.relativas-sizes {
    display: block;
    height: 12em;
    width: 12em;
}
.em {
    BACKGROUND: honeydew;
    WIDTH: 23em;
    height: 23em;
}
.rem {
    BACKGROUND: rgb(254, 240, 255);
    WIDTH: 23rem;
    height: 23rem;
}
.vh {
    BACKGROUND: hwb(28 94% 0%);
    WIDTH: 23rem;
    height: 23rem;
}
.vw {
    background: palegoldenrod;
    width: 28vw;
    height: 28vw;
}
.porcentaje {
    background: lightcoral;
    width: 43%;
    height: 28%;
}

div#imagenfalsa {
    height: 350px;
    width: 253px;
    background: url(/imagen/Gauguin.jpg);
    margin: auto;
    background-size: 500px 1000px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1000px blueviolet;
}
[target="_blank"]
 {
    background: chartreuse;
}
@media all and (min-width: 400px) and (max-width: 800px){
    p {
    color: red;
    font-size: 18px;
    line-height: 1.6;
  }
}
